<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1gd_Har4-IEId10D8zLb4NKYwx5DT66c</string>
	<key>GCM_SENDER_ID</key>
	<string>891613711676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.furnitureapp</string>
	<key>PROJECT_ID</key>
	<string>furniturecopy</string>
	<key>STORAGE_BUCKET</key>
	<string>furniturecopy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891613711676:ios:f9630a9d4db82ba9ef6239</string>
</dict>
</plist>